
html {
    font-size: 16px;
}
h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h2 {
    font-family: Times, 'Times New Roman', serif;
}
header {
    border: 5px solid red;
    margin: 2px;
}

.class-list {
    list-style-type: square
}

.item {
    border: 1px solid black;
}

.even {
    background-color: gray;
}

.odd {
    background-color: black;
    color: white;
}

#item1 {
    font-size: 30px;
}

#item2{
    text-align: right;
}

ol li p {
    padding: 5px;
}
ol>li:nth-child(odd)>p{
     background-color: grey;
}

ol li:nth-child(even) p {
    background-color:greenyellow;
}


a:link {
    color: orange;
}
a:visited {
    color:green;
}

a[title="CodeDev"]:hover {
    text-decoration: none;
}

ul>li>a:hover {
    background-color: yellow;
}

ul>li>a:active {
    background-color: red;
}